<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.mapper.GoodsMapper">
	<!-- 샤용자 게시글 갯수 리스팅 -->
	<select id="countByWriter" resultType="hashmap">
		select writer as "writer", member_name as "member_name", count(1) as "count"
		from tbl_board b
		join tbl_member m
		on b.writer = m.member_id
		group by writer, member_name
	</select>
</mapper>